.iphDRN {
    padding: 110px 0px 140px;
    position: relative;
    background-image: url(/_next/static/images/funds-bg-1bceee6….png);
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: 72% 0px;
}





